@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
/* components */
@import "components/loginform.css";
@import "components/quote.css";
@import "components/weather.css";
@import "components/clock.css";
@import "components/userinfo.css";
@import "components/todolist.css";
body {
  font-family: "Nanum Brush Script", cursive;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.hidden {
  display: none;
}
.background-Img {
  position: absolute;
  top: 0;
  /* 레이아웃중 가장 바탕(밑)에 깔리도록 함 */
  z-index: -100;
  /* 이미지 크기를 창 크기에 맞추기위함 */
  width: 100%;
  height: 100%;
  /* ////////object-fit의 용도 알아보기///////// */
  object-fit: cover;
  background-color: rgba(0red, 0, 0, 0.3);
}
.background-op {
  position: absolute;
  top: 0;
  z-index: -99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
