@import "/css/reset.css";
* {
  color: white;
}
body {
  display: flex;
  width: 100vw;
  height: 100vh;
}
button,
input {
  all: unset;
}
.main-part {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body > div:first-child {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.367);
  z-index: -98;
  width: 100vw;
  height: 100vh;
}
/* 배경 */
.background {
  position: absolute;
  z-index: -99;
  width: 100vw;
  height: 100vh;
}
.background img {
  width: 100%;
  height: 100%;
}

/* 시계 */
.clock {
  margin-bottom: 30px;
  font-size: 80px;
}
/* 명언 */
.quote {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote > div:first-child {
  text-align: center;
  margin-bottom: 10px;
}
/* 로그인 */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form div:last-child {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
/* 로그인 버튼 */
.login-form div:last-child button {
  border: none;
  margin-right: 10px;
}
input[type="text"] {
  margin-right: 10px;
}
input[type="password"] {
  margin-left: 10px;
}
input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 2px solid white;
  width: 180px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}
input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
/* 계정만들기  */
.create-accunting {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-btn {
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  text-align: end;
}
.success-create {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.return-loginform {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}
.success-create > div:first-child {
  text-align: center;
}
/* 환영메세지 */
.welcomemgs {
  font-size: 30px;
}
/*  */
.hidden {
  display: none;
}
/* 안내문 디자인 */
.cant-find-notice,
.passwd-doesnt-match-notice,
.duplication-id-notice,
.success-create > div:first-child {
  font-size: 18px;
  margin-bottom: 10px;
}
/* 버튼 */
.save-todo {
  height: 50px;
  width: 200px;
  background-color: rgb(255, 80, 109);
}

@keyframes moveupdown {
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* moreinfo */
.more-info {
  position: absolute;
  right: 0%;
  padding: 1.5%;
  background-color: rgba(0, 0, 0, 0.466);
  width: 25%;
  height: 100%;
}
.more-info-btn {
  margin-top: 30px;
  font-size: 20px;
  animation: moveupdown 1s linear infinite;
}
.more-info-close-btn {
  font-size: 25px;
}
/* 날씨 */
.weather {
  width: 100%;
  height: 30%;
}
.todo-box {
  width: 100%;
  height: 50%;
}
.background,
body > div:first-child {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
