.login-form,
.add-user-form {
  margin: 10px;
  display: flex;
}
.login-form input,
.add-user-form input {
  background-color: rgba(240, 248, 255, 0);
  border: 0;
  width: 150px;
  height: 30px;
  outline: none;
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: var(--basic-font);
}

.login-form input::placeholder,
.add-user-form input::placeholder {
  color: white;
  text-align: center;
  font-size: 30px;
}

.login-form button,
.add-user-form button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 20px;
}
.login-error {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-error div {
  display: flex;
  justify-content: space-around;
  width: 200px;
}
.login-error div button {
  border: none;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  color: rgb(255, 255, 255);
}
.login-error span {
  display: block;
  margin-bottom: 15px;
  font-size: 25px;
}

.add-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-user-form input {
  width: 400px;
}
.add-user-form input::placeholder {
  font-size: 25px;
}
.duplicate-notifications {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.duplicate-notifications div:first-child {
  margin-bottom: 3px;
}
